
<nav class="navbar navbar-expand-sm bg-danger navbar-primary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapsibleNavbar" class="collapse navbar-collapse">

        <ul class="navbar-nav">
            <li class="nav-item"><a href="http://localhost:4200/user-product" class="nav-link"><b> HOME | </b></a></li>
            <li class="nav-item"><a href="http://localhost:4200/home" class="nav-link"><b> LOGIN  </b></a></li>
        
        </ul>
    </div>
               
</nav>

<div>
    <h2>About Us</h2>

        <p>Welcome to Online-Book-Store, your premier destination for all things literature!</p>
        
        <h2>Our Mission</h2>
        
        <p>At Online-Book-Store, we are passionate about connecting readers with the books that matter to them. Our mission is to create a haven for book enthusiasts, fostering a community where the love for reading is celebrated and shared.
        
        What Sets Us Apart
        
        Curated Selection: We take pride in offering a meticulously curated selection of books across genres, ensuring that each title on our virtual shelves is a gem waiting to be discovered.
        
        Reader-Centric Experience: Our website is designed with you, the reader, in mind. Navigate seamlessly, explore personalized recommendations, and indulge in a user-friendly shopping experience.
        
        Diverse Voices: We are committed to promoting diversity in literature. Our collection showcases voices from various cultures, perspectives, and backgrounds, reflecting the rich tapestry of human stories.</p>
        
        <h2>Meet the Team</h2>
        
       <p>Behind Online Book Store is a team of dedicated book lovers who are as passionate about storytelling as you are. From our experienced curators to our customer support team, each member is driven by a shared commitment to fostering a love for literature.</p>
    
</div>
