<br><br><script src="main.js" defer></script>
<h1 style="text-align:center">Online Store</h1><hr>
<h2 style="text-align:center">ADMIN LOGIN</h2>
<div style="text-align:center" class="container bg-secondary p-1">
    <form>
        <h4>UserName </h4>
        <input type="text" id="username" name="email" class="form-control" required/><br><br>
        <h4>Password </h4>
        <input type="text" id="password" name="password" class="form-control"  required/><br><br>
        
        
        <button type="submit" class="btn btn-primary" (click)="home()">GO TO HOME</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" onclick="passInputToTS">Admin Login</button>&nbsp;&nbsp;
    </form>
</div>

<script>
    function passInputToTS() {
        var inputValue = document.getElementById("username").value;

        // Call a TypeScript function or perform any desired action with the input value
        adminlogin(inputValue);
    }
</script>